.fancybox__container {
	max-width: 100% !important;
	padding: 0 !important;
}

.fancybox__slide {
	padding: 0;
	@media (min-width: $md5) {
		padding: 1.25rem;
	}
}

.fancybox__backdrop {
	background: rgba(30, 30, 30, 0.6);
}

.fancybox__content {
	color: inherit;
	background: none;
	padding: 0;
}

.fancybox__content :focus:not(.carousel__button.is-close) {
	outline: none;
}

.popup {
	display: none;
	// .popup__catalog
	&__catalog {
	}
}
