.promo {
	position: relative;
	background: #0a0d12;
	color: #fff;
	overflow: hidden;
	z-index: 1;

	border-radius: 0 0 rem(24) rem(24);
	@media (min-width: $md4) {
		border-radius: 0 0 rem(36) rem(36);
	}
	@media (min-width: $md2) {
		border-radius: 0 0 3rem 3rem;
	}

	// .promo__slider
	&__slider {
	}
	// .promo__slide
	&__slide {
		display: flex;
		flex-direction: column;
		background: url("@img/promo/slider-pattern-decor.svg") 0 0 / cover no-repeat;
		padding: 5.5rem 0 4.6rem;
		height: auto;
		min-height: rem(780);
		@media (min-width: $md4) {
			padding: 7rem 0;
			min-height: rem(860);
		}
		@media (min-width: $md1) {
			min-height: rem(1000);
			padding: 10.9rem 0 7.5rem;
		}
		&--video {
			position: relative;
			z-index: 1;
			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: rgba(0, 0, 0, 0.35);
				z-index: -1;
			}
		}
		&--image {
			background-repeat: no-repeat;
			background-size: rem(1700) auto;
			background-position: 77% center;
			@media (min-width: $md4) {
				background-position: center;
				background-size: cover;
				.promo__offer {
					max-width: 50%;
				}
			}
			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 60.74%, #000 100%);
				z-index: -1;
				@media (min-width: $md4) {
					display: none;
				}
			}
		}
	}
	// .promo__container
	&__container {
		flex: 1 1 auto;
		width: 100%;
		display: flex;
		flex-direction: column;
	}
	// .promo__row
	&__row {
		display: flex;
		justify-content: space-between;
		gap: 1.5rem;
		flex: 1 1 auto;
		flex-direction: column;
		@media (min-width: $md4) {
			align-items: flex-start;
			flex-direction: row;
		}
	}
	// .promo__categories
	&__categories {
		align-self: center;
		max-width: 100%;
		min-width: 0;
		background: url("@img/promo/slider/BG-mobile.svg") center / contain no-repeat;

		@media (min-width: $md4) {
			background: url("@img/promo/slider/BG.svg") center / contain no-repeat;
			flex: 0 0 rem(450);
			height: rem(400);
			margin-right: -6rem;
			margin-left: 0;
		}
		@media (min-width: $md2) {
			flex: 0 0 rem(550);
			height: rem(500);
		}
		@media (min-width: $md1) {
			flex: 0 0 rem(650);
			height: rem(600);
		}
		@media (min-width: $md0) {
			flex: 0 0 rem(790);
			height: rem(708);
		}
	}
	// .promo__categories-item
	&__categories-item {
		display: flex;
		justify-content: center;
		align-items: center;
		height: auto;
		padding: 2.24731rem 1.85313rem 2.23094rem 1.82375rem;
		@media (min-width: $md4) {
			padding: 0 4rem 6rem 0;
		}
		& img {
			filter: drop-shadow(rem(8) rem(32) rem(42) rgba(0, 0, 0, 0.4));
		}
	}
	// .promo__offer
	&__offer {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		max-width: 53rem;
		&--centered {
			@media (min-width: $md4) {
				margin: auto 0;
			}
		}
		&--small {
			max-width: 33rem;
		}
	}
	// .promo__offer-logo
	&__offer-logo {
		max-width: 5rem;
		margin-bottom: 1.5rem;
		animation: infiniteRotate 45s linear infinite;
		@media (min-width: $md4) {
			max-width: 7.5rem;
			margin-bottom: 1.75rem;
		}
		@media (min-width: $md2) {
			max-width: 10rem;
			margin-bottom: 2.25rem;
		}
	}
	// .promo__offer-title
	&__offer-title {
		font-family: $font-dela;
		line-height: 120%;
		letter-spacing: 0.04rem;
		font-size: 2rem;
		@media (min-width: $md4) {
			font-size: 3rem;
			letter-spacing: 0.06rem;
		}
		@media (min-width: $md2) {
			font-size: 4.5rem;
			letter-spacing: 0.09rem;
		}
		&--small {
			font-size: 1.5rem;
			letter-spacing: 0.03rem;
			@media (min-width: $md4) {
				font-size: 2rem;
			}
			@media (min-width: $md2) {
				font-size: 2.5rem;
				letter-spacing: 0.04rem;
			}
			@media (min-width: $md1) {
				letter-spacing: 0.06rem;
				font-size: 3.5rem;
			}
			@media (min-width: $md0) {
				letter-spacing: 0.08rem;
				font-size: 4rem;
			}
		}
		& span {
			white-space: nowrap;
		}
	}
	// .promo__offer-subtitle
	&__offer-subtitle {
		font-size: 1.125rem;
		line-height: 150%;
		margin-top: 1rem;
		@media (min-width: $md4) {
			margin-top: 1.25rem;
			font-size: 1.375rem;
		}
		@media (min-width: $md2) {
			font-size: 1.5rem;
			margin-top: 1.5rem;
		}
	}
	// .promo__offer-btn
	&__offer-btn {
		margin-top: 1.5rem;
		@media (min-width: $md4) {
			margin-top: 2rem;
		}
		@media (min-width: $md2) {
			margin-top: 3rem;
		}
	}
	// .promo__video
	&__video {
		position: absolute;
		inset: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		z-index: -2;
	}
	// .promo__controls
	&__controls {
		display: none;
		@media (min-width: $md4) {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			display: flex;
			flex-direction: column;
			gap: rem(12);
			z-index: 3;
			right: rem(16);
		}
		@media (min-width: $md2) {
			right: rem(71);
		}
	}
	// .promo__controls-prev
	&__controls-prev {
	}
	// .promo__controls-next
	&__controls-next {
	}
	// .promo__pagination
	&__pagination {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 1rem;
		font-size: 1.125rem;
		line-height: 144.444%;
		padding: 0 1.17rem;
		.swiper-pagination-progress {
			height: rem(1);
			background: rgba(255, 255, 255, 0.4);
			display: block;
			position: relative;
			width: 100%;
			@media (min-width: $md4) {
				width: rem(250);
			}
			&::after {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				font-size: 0;
				background: #fff;
				transform: scale3d(0, 1, 1);
				transform-origin: left;
				will-change: transform;
				z-index: -1;
				display: block;
			}
			&.counting::after {
				animation: countingBar var(--counting-speed, 8.8s) linear forwards;
			}

			@keyframes countingBar {
				0% {
					transform: scale3d(0, 1, 1);
				}
				100% {
					transform: scale3d(1, 1, 1);
				}
			}
		}
		.swiper-pagination-total {
			opacity: 0.4;
		}
	}
}

.goods {
	background: #f6d8e6;
	margin: rem(80) 0;
	padding: rem(48) 0 rem(30);
	position: relative;
	border-radius: rem(24);
	@media (min-width: $md4) {
		border-radius: rem(36);
	}
	@media (min-width: $md2) {
		border-radius: rem(48);
	}
	// .goods__container
	&__container {
	}
	// .goods__slider
	&__slider {
		overflow: visible;

		@media (min-width: $md1) {
			overflow: hidden;
		}
	}
	// .goods__content
	&__content {
		@media (min-width: 1920px) {
			position: relative;
		}
	}
	&__controls {
		margin-top: 0.5rem;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 0.5rem;
	}
	// .goods__prev
	&__prev {
		width: 3rem;
		height: 3rem;
		@media (min-width: $md4) {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 1.5rem;
		}
		@media (min-width: $md2) {
			left: 3.5rem;
		}
		@media (min-width: 1920px) {
			transform: translateY(calc(-50% - rem(9)));
			left: -4.75rem;
		}
	}
	// .goods__next
	&__next {
		width: 3rem;
		height: 3rem;
		@media (min-width: $md4) {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 1.5rem;
		}
		@media (min-width: $md2) {
			right: 3.5rem;
		}
		@media (min-width: 1920px) {
			transform: translateY(calc(-50% - rem(9)));
			right: -4.75rem;
		}
	}
}

.product {
	display: flex;
	flex-direction: column;
	padding-bottom: rem(18);
	@media (any-hover: hover) {
		&:hover {
			.product__desciption {
				color: #1570ef;
			}
			.product__image {
				& img {
					filter: drop-shadow(rem(8) rem(32) rem(18) rgba(0, 0, 0, 0.3));
				}
			}
		}
	}
	&.swiper-slide {
		height: auto;
		width: rem(307);
	}
	// .product__header
	&__header {
		position: relative;
		height: rem(307);
		display: flex;
		justify-content: center;
		align-items: center;
	}
	// .product__price
	&__price {
		position: absolute;
		top: 0;
		left: 0;
		font-size: 1.25rem;
		font-weight: 500;
		border-radius: 0.5rem;
		background: #f4d400;
		padding: 0rem 0.5rem;
		@media (min-width: $md4) {
			padding: 0.375rem 0.5rem;
		}
	}
	// .product__image
	&__image {
		& img {
			transition: filter 0.3s ease;
		}
	}
	// .product__desciption
	&__desciption {
		margin-top: 0.5rem;
		color: #414651;
		font-size: 1.125rem;
		line-height: 133.333%;
		margin-bottom: auto;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 3;
		text-overflow: ellipsis;
		overflow: hidden;
		transition: color 0.3s ease;
	}
	// .product__btn
	&__btn {
		margin-top: 1rem;
		align-self: flex-start;
	}
}

.products {
	background: url("@img/decor/products-pattern.svg") 0 0 / cover no-repeat;
	padding: rem(48) 0 rem(48);
	@media (min-width: $md4) {
		padding: rem(60) 0 rem(135);
	}
	// .products__container
	&__container {
	}
	// .products__hint
	&__hint {
		margin-bottom: 0.3rem;
		@media (min-width: $md4) {
			margin-bottom: 0;
		}
	}
	// .products__title
	&__title {
	}
	// .products__list
	&__list {
		display: grid;
		gap: 0.75rem;
		margin-top: 2rem;
		@media (min-width: $md4) {
			margin-top: 4.44rem;
			grid-template-columns: repeat(2, 1fr);
			gap: 1.5rem;
		}
		@media (min-width: $md2) {
			grid-template-columns: repeat(3, 1fr);
		}
		@media (min-width: $md1) {
			grid-template-columns: repeat(4, 1fr);
		}
	}
	// .products__item
	&__item {
		padding: 2rem 1.5rem 1.125rem 1.5rem;
		border-radius: 1.25rem;
		background: #181d27;
		overflow: hidden;
		color: #fff;
		transition: background-color 0.3s ease, transform 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				background-color: darken($color: #181d27, $amount: 3);

				.products__image {
					// .products__image--yellow-shadow
					&--yellow-light-shadow {
						filter: drop-shadow(rem(8) rem(8) rem(32) rgba(203, 239, 1, 1));
					}
					// .products__image--dark-shadow
					&--yellow-dark-shadow {
						filter: drop-shadow(rem(8) rem(8) rem(32) rgba(167, 199, 1, 1));
					}
					// .products__image--pink-shadow
					&--pink-shadow {
						filter: drop-shadow(rem(8) rem(8) rem(32) rgba(255, 125, 188, 1));
					}
					// .products__image--red-shadow
					&--red-shadow {
						filter: drop-shadow(rem(8) rem(8) rem(32) rgba(247, 64, 87, 1));
					}
				}

				&:not(.products__item--large) {
					transform: translateY(rem(-8));
				}
			}
		}
		&--large {
			display: flex;
			flex-direction: column;
			gap: 1.5rem;
			@media (min-width: $md4) {
				flex-direction: row;
				justify-content: space-between;
				align-items: flex-end;
				grid-column: span 2;
			}
			@media (min-width: $md1) {
				grid-column: span 4;
			}
		}
	}
	// .products__picture
	&__picture {
		text-align: center;
		margin: 0rem -1.5rem -1.125rem;
		padding: 1.75rem 1.5rem 0;
		background: url("@img/decor/paws-mobile.svg") center bottom / cover no-repeat;
		@media (min-width: $md4) {
			background: url("@img/decor/paws.svg") center bottom / contain no-repeat;
			max-width: rem(700);
			width: 100%;
			padding: 0 2.75rem 0 0;
			margin: -2rem -1.5rem -1.125rem 0;
		}
	}
	// .products__item-main
	&__item-main {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		max-width: rem(350);
		@media (min-width: $md1) {
			max-width: rem(778);
		}
	}
	// .products__image
	&__image {
		transition: filter 0.3s ease;
		& img {
			height: 6.0625rem;
			@media (min-width: $md4) {
				height: 7.5rem;
			}
		}
		// .products__image--yellow-shadow
		&--yellow-light-shadow {
			filter: drop-shadow(rem(8) rem(8) rem(32) rgba(203, 239, 1, 0.6));
		}
		// .products__image--dark-shadow
		&--yellow-dark-shadow {
			filter: drop-shadow(rem(8) rem(8) rem(32) rgba(167, 199, 1, 0.6));
		}
		// .products__image--pink-shadow
		&--pink-shadow {
			filter: drop-shadow(rem(8) rem(8) rem(32) rgba(255, 125, 188, 0.6));
		}
		// .products__image--red-shadow
		&--red-shadow {
			filter: drop-shadow(rem(8) rem(8) rem(32) rgba(247, 64, 87, 0.8));
		}
	}
	// .products__name
	&__name {
		font-family: $font-dela;
		line-height: 133.333%;
		letter-spacing: 0.03rem;
		font-size: 1.25rem;
		margin-top: 1.5rem;
		@media (min-width: $md4) {
			margin-top: 2rem;
			font-size: 1.5rem;
		}
	}
	// .products__description
	&__description {
		margin-top: 0.75rem;
		color: rgba($color: #fff, $alpha: 0.75);
		padding-bottom: 0.75rem;
		line-height: 157.143%;
		margin-bottom: auto;
		border-bottom: rem(1) solid rgba($color: #fff, $alpha: 0.2);
		font-size: 0.875rem;
		@media (min-width: $md4) {
			line-height: 133.333%;
			font-size: 1.125rem;
		}
	}
	// .products__link
	&__link {
		margin-top: 0.75rem;
		display: inline-flex;
		align-items: center;
		gap: 0.5rem;
		font-size: 1rem;
		font-weight: 600;
		line-height: 150%;
		text-transform: uppercase;
		padding: 0.625rem 0;
		transition: color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				color: #ff7dbc;
			}
		}
		&::before {
			order: 1;
			width: 1.25rem;
			height: 1.25rem;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}

.benefits {
	margin-top: 5rem;
	margin-bottom: rem(75);
	border-radius: 3rem;
	color: #fff;
	padding: 5rem 0 3.69rem;
	background: url("@img/decor/benefits-pattern.svg") 0 0 / cover no-repeat, #181d27;

	// .benefits__container
	&__container {
	}
	// .benefits__header
	&__header {
		text-align: center;
		max-width: 42.25rem;
		margin: 0 auto;
	}
	// .benefits__hint
	&__hint {
		margin-bottom: 0.12rem;
	}
	// .benefits__caption
	&__caption {
	}
	// .benefits__description
	&__description {
		margin-top: 0.75rem;
		font-size: 1.125rem;
		line-height: 133.333%;
	}
	// .benefits__body
	&__body {
		margin-top: rem(16);
		display: flex;
		justify-content: space-between;
		align-items: center;
		perspective: rem(1000);
		min-height: rem(500);
	}
	// .benefits__list
	&__list {
		width: 29.375rem;
		counter-reset: num var(--start-num, 0);
	}
	// .benefits__item
	&__item {
		border-radius: 1rem;
		background: #252b37;
		box-shadow: 0 rem(-32) rem(42) 0 rgba(0, 0, 0, 0.5);
		display: flex;
		padding: 1.5rem 1.125rem 2.25rem 1.125rem;
		flex-direction: column;
		align-items: flex-start;
		gap: 1rem;
		align-self: stretch;
		counter-increment: num;
		transition: color 0.3s ease, background-color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				color: #181d27;
				background-color: #ff7dbc;
				.benefits__item-title {
					&::before {
						-webkit-text-stroke-color: #f4d400;
					}
				}
			}
		}
		@media (hover: none) {
			&.active {
				color: #181d27;
				background-color: #ff7dbc;
				.benefits__item-title {
					&::before {
						-webkit-text-stroke-color: #f4d400;
					}
				}
			}
		}
		&:not(:first-child) {
			margin-top: -1rem;
		}
	}
	// .benefits__item-title
	&__item-title {
		display: flex;
		align-items: flex-end;
		font-size: 1.5rem;
		font-weight: 700;
		line-height: 110%;
		gap: 1rem;

		&::before {
			content: counter(num);
			-webkit-text-stroke-width: 2px;
			-webkit-text-stroke-color: #9a9a9a;
			font-family: $font-dela;
			color: transparent;
			font-size: 4rem;
			line-height: 100%;
			text-transform: uppercase;
			width: 4.375rem;
			flex-shrink: 0;
			transition: all 0.3s ease;
		}
	}
	// .benefits__item-description
	&__item-description {
		display: none;
	}
	// .benefits__picture
	&__picture {
		flex: 0 0 rem(450);
		height: rem(450);
		display: flex;
		justify-content: center;
		align-items: center;
		background: url("@img/decor/benefits-picture-decor.svg") center / 95% auto no-repeat;
		transition: all 0.5s ease-out;
		transform-style: preserve-3d;
		& img {
			filter: drop-shadow(rem(8) rem(32) rem(42) rgba(0, 0, 0, 0.4));
		}
	}
	// .benefits__btn
	&__btn {
		width: fit-content;
		margin: rem(63) auto 0;
		display: flex;
	}
}

.offers {
	padding: rem(75) 0;
	// .offers__container
	&__container {
	}
	// .offers__slider
	&__slider {
	}
	// .offers__controls
	&__controls {
		position: absolute;
		bottom: rem(32);
		right: rem(42);
		display: flex;
		gap: rem(8);
	}
	// .offers__prev
	&__prev {
	}
	// .offers__next
	&__next {
	}
}

.offer {
	border-radius: 3rem 1.5rem 1.5rem 3rem;
	overflow: hidden;
	background: #f5f5f5;
	color: #535862;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1rem;
	// .offer__main
	&__main {
		padding: 4.5rem 4.5rem 3.5rem;
	}
	// .offer__hint
	&__hint {
		text-align: left;
		justify-content: flex-start;
	}
	// .offer__title
	&__title {
		text-align: left;
	}
	// .offer__desc
	&__desc {
		margin-top: 1.5rem;
		font-size: 1.5rem;
		line-height: 120%;
	}
	// .offer__btn
	&__btn {
		margin-top: 6.5rem;
	}
	// .offer__image
	&__image {
	}
}
