.goods-item {
	padding: rem(24) 0 rem(48);
	@media (min-width: $md4) {
		padding: rem(65) 0 rem(90);
	}
	// .goods-item__container
	&__container {
		@media (min-width: 1245.98px) {
			&[class*="__container"] {
				max-width: rem(1216);
			}
		}
	}
	// .goods-item__header
	&__header {
		display: flex;
		gap: rem(32);
		flex-direction: column;

		@media (min-width: $md3) {
			flex-direction: row;
		}
	}
	// .goods-item__slider
	&__slider {
		position: relative;
		min-width: 0;

		margin-left: -1rem;
		margin-right: -1rem;
		@media (min-width: $md5) {
			margin-left: 0;
			margin-right: 0;
		}
		@media (min-width: $md3) {
			flex: 0 0 rem(380);
		}
		@media (min-width: $md2) {
			flex: 0 0 rem(488);
		}
	}
	// .goods-item__main
	&__main {
	}
	// .goods-item__main-slider
	&__main-slider {
		aspect-ratio: 1;
		border-radius: rem(14);
		overflow: hidden;
	}
	// .goods-item__slide
	&__slide {
		aspect-ratio: 1;
	}
	// .goods-item__labels
	&__labels {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		z-index: 2;
		display: flex;
		flex-wrap: wrap;
		gap: rem(6);
		padding: rem(8);
		.label {
			min-height: rem(24);
			&.label--small {
				padding-inline: rem(7);
			}
		}
	}
	// .goods-item__thumbs
	&__thumbs {
		margin-top: rem(12);
		padding: 0 rem(12);
		@media (min-width: $md4) {
			padding: 0;
			margin-top: 1rem;
		}
	}
	// .goods-item__thumb
	&__thumb {
		width: rem(60);
		height: rem(60);
		border-radius: 0.75rem;
		border: rem(1) solid #e9eaeb;
		opacity: 0.6;
		overflow: hidden;
		cursor: pointer;
		&.swiper-slide-thumb-active {
			opacity: 1;
			border: rem(1) solid #ff7dbc;
		}
	}
	// .goods-item__body
	&__body {
		flex: 1 1 auto;
	}
	// .goods-item__row
	&__row {
		display: flex;
	}
	// .goods-item__sku
	&__sku {
		margin-right: auto;
		display: flex;
		align-items: center;
		gap: 0.5rem;

		font-size: 1.125rem;
	}
	// .goods-item__actions
	&__actions {
		display: flex;
		gap: 0.5rem;
		@media (min-width: $md4) {
			gap: 1rem;
		}
	}
	// .goods-item__favorite
	&__favorite {
	}
	// .goods-item__compare
	&__compare {
	}
	// .goods-item__name
	&__name {
		font-weight: 500;
		font-size: 1.375rem;
		margin-top: 0.87rem;
		@media (min-width: $md4) {
			margin-top: 1.12rem;
			font-size: 1.5rem;
		}
	}
	// .goods-item__options
	&__options {
		display: flex;
		margin-top: 1rem;
		flex-direction: column;
		gap: 1rem;
		@media (min-width: $md4) {
			gap: 0.5rem;
			justify-content: space-between;
			flex-direction: row;
			margin-top: 1.75rem;
		}
	}
	// .goods-item__options-block
	&__options-block {
		min-width: 10rem;
	}
	// .goods-item__options-header
	&__options-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	// .goods-item__options-caption
	&__options-caption {
		color: #535862;
		font-size: 1.125rem;
		& span {
			color: #181d27;
		}
	}
	// .goods-item__options-link
	&__options-link {
		color: #1570ef;
		font-size: 1.125rem;
		transition: color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				color: $pink;
			}
		}
	}
	// .goods-item__options-items
	&__options-items {
		margin-top: 0.75rem;
		display: flex;
		flex-wrap: wrap;
		gap: 0.5rem;
	}
	// .goods-item__option
	&__option {
	}

	// .goods-item__description
	&__description {
		margin-top: 1rem;
		@media (min-width: $md4) {
			margin-top: 1.75rem;
		}
	}
	// .goods-item__description-header
	&__description-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	// .goods-item__description-caption
	&__description-caption {
		font-size: 1.25rem;
		font-weight: 500;
	}
	// .goods-item__description-link
	&__description-link {
		color: #1570ef;
		font-size: 0.875rem;
		font-weight: 500;
		line-height: 150%;
		text-transform: uppercase;
		display: flex;
		align-items: center;
		gap: 0.25rem;
		padding: 0.25rem 0;
		transition: color 0.3s ease;
		&::before {
			order: 1;
			width: 1rem;
			height: 1rem;
			display: flex;
			justify-content: center;
			align-items: center;
			transition: transform 0.3s ease;
		}
		@media (any-hover: hover) {
			&:hover {
				color: $pink;
				&::before {
					transform: translateX(0.5rem);
				}
			}
		}
	}
	// .goods-item__description-body
	&__description-body {
		margin-top: 1rem;
		overflow: hidden;
		color: #414651;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		font-size: 1rem;
		-webkit-line-clamp: 6;
		@media (min-width: $md4) {
			-webkit-line-clamp: 4;
		}
	}
	// .goods-item__footer
	&__footer {
		border-top: rem(1) solid #535862;
		padding-top: rem(12);
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		margin-top: 1rem;
		gap: 0.75rem;
		@media (min-width: $md5) {
			padding-top: rem(18);
			gap: 1rem;
			margin-top: 1.5rem;
		}
	}
	// .goods-item__price
	&__price {
		display: flex;
		margin-right: auto;
		align-items: center;
		gap: 1rem;
	}
	// .goods-item__price-current
	&__price-current {
		font-weight: 500;
		font-size: 2rem;
		line-height: 1;
		@media (min-width: $md4) {
			font-size: 2.625rem;
		}
	}
	// .goods-item__price-old
	&__price-old {
		display: flex;
		flex-direction: row;
		gap: 0.25rem;
		@media (min-width: $md2) {
			flex-direction: column;
			align-items: flex-start;
		}
	}
	// .goods-item__price-old-value
	&__price-old-value {
		color: #717680;
		font-size: 1rem;
		font-weight: 500;
		text-decoration-line: line-through;
	}
	// .goods-item__price-old-sale
	&__price-old-sale {
		color: $pink;
		font-size: 1rem;
		font-weight: 500;
	}
	// .goods-item__quantity
	&__quantity {
	}
	// .goods-item__add-to-cart
	&__add-to-cart {
		flex: 0 0 calc(100% - rem(152));
		@media (min-width: $md5) {
			flex: 0 1 auto;
		}
	}
	// .goods-item__bottom
	&__bottom {
		margin-top: rem(48);
	}
	// .goods-item__tabs
	&__tabs {
		width: 100%;
	}
	// .goods-item__tab
	&__tab {
	}
	// .goods-item__tabs-body
	&__tabs-body {
		margin-top: 1.75rem;
		@media (min-width: $md4) {
			margin-top: rem(32);
		}
	}
	// .goods-item__tabs-content
	&__tabs-content {
		display: none;
		&.active {
			display: block;
		}
	}
	// .goods-item__props
	&__props {
		display: grid;
		gap: 2rem;
		@media (min-width: $md4) {
			grid-template-columns: repeat(2, 1fr);
		}
	}
	// .goods-item__props-block
	&__props-block {
	}
	// .goods-item__props-caption
	&__props-caption {
		font-weight: 500;
		font-size: 1.125rem;
		@media (min-width: $md4) {
			font-size: 1.25rem;
		}
	}
	// .goods-item__props-list
	&__props-list {
		margin-top: 0.75rem;
	}
	// .goods-item__props-item
	&__props-item {
		justify-content: space-between;
		align-items: center;
		display: flex;
		gap: 0.75rem;
		&:not(:last-child) {
			margin-bottom: 0.25rem;
			@media (min-width: $md4) {
				margin-bottom: 0.2rem;
			}
		}
		&::before {
			content: "";
			flex: 1 1 auto;
			height: rem(1);
			align-self: flex-end;
			background: linear-gradient(90deg, #d5d7da 50%, transparent 50%) 0 0 / rem(12) rem(1) repeat-x;
		}
		font-size: 0.875rem;
		@media (min-width: $md4) {
			font-size: 1rem;
		}
	}
	// .goods-item__props-name
	&__props-name {
		color: #535862;
		order: -1;
	}
	// .goods-item__props-value
	&__props-value {
		order: 1;
	}
	// .goods-item__text
	&__text {
		@media (min-width: $md4) {
			font-size: 1.25rem;
		}
		& p {
			&:not(:last-child) {
				margin-bottom: 1.5em;
			}
		}
	}
	&__reviews {
		display: grid;
		gap: 1rem;
		@media (min-width: $md4) {
			gap: 2rem;
			grid-template-columns: repeat(2, 1fr);
		}
	}
}
