<li class="blog__item">
    <a href="" class="blog__card">
        <span class="blog__card-label label label--pink">@@category</span>
        <span class="blog__card-image">
            <img src="@@image" alt="Фото статьи">
        </span>
        <span class="blog__card-name">@@name</span>
        <span class="blog__card-desc">@@desc</span>
        <span class="blog__card-bottom">
            <span class="blog__card-date">@@date</span>
            <span class="blog__card-read">@@read</span>
        </span>
    </a>
</li>