.footer {
	position: relative;
	z-index: 3;
	border-radius: 3rem 3rem 0 0;
	background: #181d27;
	color: #d5d7da;
	// .footer__top
	&__top {
		padding: 3.5rem 0 2.25rem;
	}
	// .footer__container
	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 1rem;
		flex-wrap: wrap;
		@media (min-width: $md1) {
			flex-wrap: nowrap;
		}
	}
	// .footer__side
	&__side {
		flex: 0 0 100%;
		display: flex;
		align-items: center;
		gap: 1.75rem;
		@media (min-width: $md3) {
			flex-direction: column;
			align-items: flex-start;
			flex: 0 0 10.25rem;
		}
	}
	// .footer__logo
	&__logo {
		width: 6.125rem;
		display: block;
		& img {
			width: 100%;
		}
	}
	// .footer__reqs
	&__reqs {
		font-size: 1rem;
		font-weight: 400;
		line-height: 150%;
		letter-spacing: -0.00625rem;
	}
	// .footer__menu
	&__menu {
		flex-direction: column;
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex: 0 0 calc(100% - 11.25rem);
		align-self: flex-start;
		@media (min-width: $md1) {
			align-self: flex-end;
			flex: 1 1 auto;
		}
		.submenu {
			top: auto;
			bottom: 100%;
			padding-top: 0;
			padding-bottom: 0.25rem;
			transform: translate3d(0, 0.5rem, 1px);
		}
	}
	// .footer__policies
	&__policies {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 2rem;
		flex-direction: column;
		gap: 1rem;
		@media (min-width: $md4) {
			gap: 3.28rem;
			flex-wrap: wrap;
			flex-direction: row;
		}
		@media (min-width: $md0) {
			margin-top: 8.19rem;
		}
	}
	// .footer__policy
	&__policy {
	}
	// .footer__policy-link
	&__policy-link {
		color: #2e90fa;
		line-height: 133.333%;
		text-decoration-line: underline;
		@media (min-width: $md0) {
			font-size: 1.125rem;
		}
		@media (any-hover: hover) {
			&:hover {
				text-decoration: none;
			}
		}
	}
	// .footer__sending
	&__sending {
		flex: 0 0 100%;
		@media (min-width: $md3) {
			flex: 0 0 18rem;
			align-self: flex-start;
		}
	}
	// .footer__sending-caption
	&__sending-caption {
		color: #fff;
		font-size: 1.5rem;
		font-weight: 600;
		line-height: 133.333%;
		letter-spacing: -0.00625rem;
	}
	// .footer__sending-form
	&__sending-form {
		margin-top: 1.5rem;
		display: flex;
		gap: 0.62rem;
		.btn {
			flex-shrink: 0;
		}
	}
	// .footer__sending-text
	&__sending-text {
		margin-top: 1rem;
		font-size: 0.875rem;
		line-height: 142.857%;
	}
	// .footer__bottom
	&__bottom {
		background: #252b37;
		padding: rem(10) 0;
		.footer__container {
			flex-direction: column;
			@media (min-width: $md3) {
				flex-direction: row;
			}
		}
	}
	// .footer__copy
	&__copy {
		font-size: 1rem;
		line-height: 150%;
		letter-spacing: -0.00625rem;
		@media (min-width: $md3) {
			flex: 0 0 20rem;
		}
	}
	// .footer__socials
	&__socials {
	}
	// .footer__prod
	&__prod {
		@media (min-width: $md3) {
			flex: 0 0 20rem;
			text-align: right;
		}
	}
}
