.footer {
	position: relative;
	z-index: 3;
	border-radius: 3rem 3rem 0 0;
	background: #181d27;
	color: #d5d7da;
	// .footer__top
	&__top {
		padding: 3.5rem 0 2.25rem;
	}
	// .footer__container
	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	// .footer__side
	&__side {
	}
	// .footer__logo
	&__logo {
		width: 6.125rem;
		display: block;
		& img {
			width: 100%;
		}
	}
	// .footer__reqs
	&__reqs {
		margin-top: 1.75rem;
		font-size: 1rem;
		font-weight: 400;
		line-height: 150%;
		letter-spacing: -0.00625rem;
	}
	// .footer__menu
	&__menu {
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		align-self: flex-end;
		.submenu {
			top: auto;
			bottom: 100%;
			padding-top: 0;
			padding-bottom: 0.25rem;
			transform: translate3d(0, 0.5rem, 1px);
		}
	}
	// .footer__policies
	&__policies {
		margin-top: 8.19rem;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 3.28rem;
	}
	// .footer__policy
	&__policy {
	}
	// .footer__policy-link
	&__policy-link {
		color: #2e90fa;
		font-size: 1.125rem;
		line-height: 133.333%;
		text-decoration-line: underline;
		@media (any-hover: hover) {
			&:hover {
				text-decoration: none;
			}
		}
	}
	// .footer__sending
	&__sending {
		flex: 0 0 18rem;
		align-self: flex-start;
	}
	// .footer__sending-caption
	&__sending-caption {
		color: #fff;
		font-size: 1.5rem;
		font-weight: 600;
		line-height: 133.333%;
		letter-spacing: -0.00625rem;
	}
	// .footer__sending-form
	&__sending-form {
		margin-top: 1.5rem;
		display: flex;
		gap: 0.62rem;
		.btn {
			flex-shrink: 0;
		}
	}
	// .footer__sending-text
	&__sending-text {
		margin-top: 1rem;
		font-size: 0.875rem;
		line-height: 142.857%;
	}
	// .footer__bottom
	&__bottom {
		background: #252b37;
		padding: rem(10) 0;
	}
	// .footer__copy
	&__copy {
		font-size: 1rem;
		line-height: 150%;
		letter-spacing: -0.00625rem;
		flex: 0 0 20rem;
	}
	// .footer__socials
	&__socials {
	}
	// .footer__prod
	&__prod {
		flex: 0 0 20rem;
		text-align: right;
	}
}
